code[class*='language-'],
pre[class*='language-'] {
  font-family: Source Code Pro, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace !important;
}

pre[class*='language-'] {
  border: 0 !important;
  background-color: #f6f8fa !important;
  line-height: 1.45 !important;
}

pre[class*='language-'] * {
  font-weight: 400 !important;
}

.table-of-contents {
  margin: 2rem 0;
}
